{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <br>
        <br>
        <div class="main-background">
            <h2 style="text-align: center; font: 600 'Source Sans Pro', sans-serif; ">Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success btn-register">Register</button>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </form>
        </div>
        <br>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}